absl-py==0.12.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1637087032947/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
albumentations==1.1.0
antlr4-python3-runtime==4.8
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1637703202493/work/dist
appdirs==1.4.4
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1636021379509/work
astunparse==1.6.3
async-generator==1.10
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1637092647930/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
audioread==2.1.9
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.6.0
black==21.12b0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
branca==0.4.2
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1636012194889/work
cachetools==4.2.4
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046055389/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1637858084653/work
clang==5.0
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cmake==3.21.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.11.0
conda-build==3.21.7
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1636021710069/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1637648690905/work
cssselect==1.1.0
customized-konlpy==0.0.64
cycler==0.11.0
Cython==0.29.24
dataclasses==0.6
datasets==1.14.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1636043249011/work
decorator==4.4.2
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
delayed==0.11.0b1
Deprecated==1.2.13
dill==0.3.4
dlib==19.22.1
docutils==0.18.1
editdistance==0.6.0
efficientnet==1.0.0
efficientnet-pytorch==0.7.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
essential-generators==1.0
face-recognition==1.3.0
face-recognition-models==0.3.0
feedfinder2==0.0.4
feedparser==6.0.8
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1637070794272/work
Fiona==1.8.20
Flask==2.0.2
flask-ngrok==0.0.25
flatbuffers==1.12
folium==0.12.1
fonttools==4.28.3
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1636286801527/work
fsspec==2021.11.1
future==0.18.2
fvcore==0.1.5.post20211023
gast==0.4.0
gensim==4.1.2
geopandas==0.10.1
glob2==0.7
google-api-core==2.2.2
google-api-python-client==2.26.1
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-vision==2.5.0
google-pasta==0.2.0
googleapis-common-protos==1.53.0
googletrans==3.0.0
grpcio==1.42.0
grpcio-status==1.42.0
h11==0.9.0
h2==3.2.0
h3==3.7.3
h5py==3.1.0
hiredis==2.0.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
huggingface-hub==0.0.19
hydra-core==1.1.1
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.5
imantics==0.1.12
imbalanced-learn==0.8.1
imgaug==0.4.0
implicit==0.4.8
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1636431527844/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
iopath==0.1.9
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1638555504864/work/dist/ipykernel-6.6.0-py3-none-any.whl
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
itsdangerous==2.0.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1637175083648/work
jieba3k==0.35.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib==1.1.0
JPype1==1.3.0
jsonpickle==2.0.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1636165360877/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1637611911738/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1636814260563/work
jupyter-desktop-server @ file:///opt/install
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1639084645710/work
jupyter-server-proxy @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-proxy_1638279709332/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
keras==2.6.0
Keras-Applications==1.0.8
keras-ocr==0.8.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
konlpy==0.5.2
labelme2coco==0.1.2
libarchive-c @ file:///home/conda/feedstock_root/build_artifacts/python-libarchive-c_1637969547960/work/dist
librosa==0.8.1
lightgbm==3.3.0
llvmlite==0.36.0
lmdb==1.2.1
loguru==0.5.3
lxml==4.6.3
Markdown==3.3.6
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1635833544680/work
matplotlib==3.4.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
matplotlib-venn==0.11.6
mecab-python===0.996-ko-0.9.2
mido==1.2.10
missingno==0.5.0
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1635844679781/work
moviepy==1.0.3
msgpack==1.0.3
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1636019096528/work
multiprocess==0.70.12.2
munch==2.5.0
mypy-extensions==0.4.3
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1636897222956/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx==2.6.3
newspaper3k==0.2.8
nltk==3.6.5
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1608772651579/work
numba==0.53.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1636145338621/work
oauthlib==3.1.1
omegaconf==2.1.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opencv-python-headless==4.5.4.60
opt-einsum==3.3.0
outcome==1.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec==0.9.0
patsy==0.5.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.3.2
pixellib==0.7.1
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1637342515370/work
platformdirs==2.4.0
pmdarima==1.8.3
pooch==1.5.2
portalocker==2.3.2
proglog==0.1.9
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1636045889479/work
proto-plus==1.19.8
protobuf==3.19.1
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1635822677294/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py4j==0.10.9
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post2
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1636020362356/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydot==1.4.2
pydotplus==2.0.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyproj==3.2.1
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1636052584784/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404942/work
pyspark==3.1.2
pytesseract==0.3.8
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-Levenshtein==0.12.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pyvis==0.1.9
PyWavelets==1.2.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1636139833192/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1635877397296/work
qudida==0.0.4
ray==1.7.0
redis==4.0.2
regex==2021.11.10
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
requests-file==1.5.1
requests-oauthlib==1.3.0
resampy==0.2.2
rfc3986==1.5.0
rsa==4.8
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1636009144459/work
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
selenium==4.0.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentencepiece==0.1.96
sgmllib3k==1.0.0
Shapely==1.7.1
simpervisor @ file:///home/conda/feedstock_root/build_artifacts/simpervisor_1609865618711/work
six==1.16.0
smart-open==5.2.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1635844660462/work
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
soynlp==0.0.493
statistics==1.0.3.5
statsmodels==0.13.0
summa==1.2.0
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.7.0
tensorflow-gpu==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.5.0
termcolor==1.1.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1636052205136/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl==3.0.0
tifffile==2021.11.2
tinysegmenter==0.3
tldextract==3.1.2
tokenizers==0.10.3
tomli==1.2.2
torch==1.9.1+cu111
torchaudio==0.9.1
torchvision==0.10.1+cu111
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1635819584296/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
transformers==4.11.3
trio==0.19.0
trio-websocket==0.9.2
tweepy==3.10.0
typeguard==2.13.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
validators==0.18.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
websockify @ file:///home/conda/feedstock_root/build_artifacts/websockify_1636279306203/work
Werkzeug==2.0.2
wget==3.2
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1637174147962/work
wordcloud==1.8.1
wrapt==1.12.1
wsproto==1.0.0
xgboost==1.4.2
xmljson==0.2.1
xxhash==2.0.2
yacs==0.1.8
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1636046810561/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
